@using Clock.Data.Models
@model IEnumerable<Car>
   

@{

}
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>List</title>
    </head>
    <body>
        <h2>Все автомобили</h2>
    @{
        

        foreach (var car in Model)
        {
            <div>
            <h2>Модель: @car.Name </h2>
            <p>Цена:@car.price.ToString("c")</p>

            </div>
        }
        }
    </body>
</html>